.title__article {
    margin-bottom: 0px;
}

.source__article {
    margin-top: 2px;
    color: darkgray;
}

.img__article {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.author__article {
    color: darkgray;
}

.date__article {
    color: darkgray;
}